

router bgp {{ bgp['asn'] }}
  {% for i in bgp['neighbors'] %}
    neighbor {{ bgp['neighbors'][i].address }} remote-as {{ bgp['neighbors'][i].remote_as }}
    neighbor {{ bgp['neighbors'][i].address }} activate
    neighbor {{ bgp['neighbors'][i].address }} source {{ bgp['source'] }}
  {% endfor %}
#  {% for networks in bgp %}
#    network {{ networks.address }} mask {{ networks.mask }}
#  {% endfor %}
!

