
router bgp {{ bgp['asn'] }}
  {% for i in bgp['neighbors'] %}
    neighbor {{ i['address'] }} remote-as {{ i['remote_as']}}
    neighbor {{ i['address'] }} activate
    neighbor {{ i['address'] }} source {{ bgp['source'] }}
  {% endfor %}
  {% for net in bgp['networks'] %}
    network {{ net.address }} mask {{ net.mask }}
  {% endfor %}
!
