
router bgp 10
  #    neighbor {'address': '2.2.2.2', 'remote_as': '20'}
#    neighbor 2.2.2.2 remote-as 20
#    neighbor 2.2.2.2 activate
#    neighbor 2.2.2.2 source 1.1.1.1
  #    neighbor {'address': '3.3.3.3', 'remote_as': '30'}
#    neighbor 3.3.3.3 remote-as 30
#    neighbor 3.3.3.3 activate
#    neighbor 3.3.3.3 source 1.1.1.1
  #  #    network 10.10.10.10 mask 255.255.255.255
#  !
