
router bgp 20
      neighbor 1.1.1.1 remote-as 10
    neighbor 1.1.1.1 activate
    neighbor 1.1.1.1 update-source Loopback1
    neighbor 1.1.1.1 ebgp-multihop 2
      neighbor 3.3.3.3 remote-as 30
    neighbor 3.3.3.3 activate
    neighbor 3.3.3.3 update-source Loopback1
    neighbor 3.3.3.3 ebgp-multihop 2
        network 20.20.20.20 mask 255.255.255.255
  !
